.background-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Just above the background color */
  pointer-events: none;
}

.background-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.2; /* Adjust this value as needed */
  pointer-events: none;
}

